= sidebar_message_block
= yield :sidebar_actions
- if sidebar_blocks[:projects]
  .block
    %h3 Projects
    - menu_block(:class => 'navigation') do |link|
      - @projects.each do |project|
        - link.to project.name, project

- if sidebar_blocks[:members]
  .block.members
    %h3 Members
    %ul
      - @project.members.each_with_index do |member, idx|
        %li{:class => %{clearfix #{css_class('first', idx, 0)} #{css_class('last', idx, (@project.members.length - 1))} #{css_class('owner', member.owner?(@project), true)}} }
          = image_tag member.gravatar_url(:size => 40)
          %span.info
            %strong.name
              = member.name
            %span.email
              = member.email

      - if current_user.owner?(@project)
        %li.clearfix.last.add-member
          = link_to 'Add a member', [:new, @project, :membership]

- if sidebar_blocks[:comments]
  .block.comments
    %h3 Comments
    %ul
      - @error.comments.each_with_index do |comment, idx|
        %li{:class => %{clearfix #{css_class('first', idx, 0)} #{css_class('last', idx, (@project.members.length - 1))} #{css_class('me', comment.user.id == current_user.id, true)}} }
          = image_tag comment.user.gravatar_url(:size => 40)
          %span.info
            %strong.user
              = comment.name
            %strong.date
              = comment.created_at.to_s(:short)
            %span.email
              = comment.body
      %ul.form
        - form_for [@error, Comment.new] do |f|
          = f.text_area :body
          = f.submit