= sidebar_message_block
= yield :sidebar_actions
- if sidebar_blocks[:projects]
  .block
    %h3 Projects
    - menu_block(:class => 'navigation') do |link|
      - @projects.each do |project|
        - link.to project.name, project

- if sidebar_blocks[:members]
  .block.members
    %h3 Members
    - unless @project.members.nil?
      %ul
        - @project.members.each_with_index do |member, idx|
          - if idx == 0
            %li.clearfix.first
              = image_tag member.gravatar_url(:size => 40)
              %span.info
                %strong.name
                  = member.name
                %span.email
                  = member.email
          - elsif idx == (@project.members.length - 1)
            %li.clearfix
              = image_tag member.gravatar_url(:size => 40)
              %span.info
                %strong.name
                  = member.name
                %span.email
                  = member.email
            %li.clearfix.last.add-member
              = link_to 'Add a member', [:new, @project, :membership]
          - else
            %li.clearfix
              = image_tag member.gravatar_url(:size => 40)
              %span.info
                %strong.name
                  = member.name
                %span.email
                  = member.email