%tr
  %td.select
    = error.last_occurence.created_at.to_s :short
    = hidden_field_tag "errors[#{error.id}]", "0"
    = check_box_tag "errors[#{error.id}]"
  %td.label
    %span{:class => error.last_occurence.reporter}
      = abbreviation(error.last_occurence.reporter)
  %td.error
    = link_to h(truncate(error.name, :length => 100)), error
  %td.count
    %div
      %div
        %div
          = error.occurences.size
