
<div class="block" id="block-project">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><a href="#">Summary</a></li>
      <li class=""><a href="#">Backtrace</a></li>
      <li class="last"><a href="#">Environment</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <h2 class="title"><%= error.name %></h2>
  <div class="content">

<p>
  <%=h error.description %>
</p>

<% if error.properties? %>
<table class="table">
  <tr>
    <th class="first last" colspan="2">Properties</th>
  </tr>
  <% error.properties.each do |name, value| %>
    <tr>
      <td><%=h name %></td>
      <td><%=h value %></td>
    </tr>
  <% end %>
</table>
<% end %>

<% if error.backtrace? %>
<h3>Backtrace</h3>
<pre><%=h error.backtrace.split("\n")[0..5].join("\n") %></pre>
<br/>
<% end %>

<hr/>
<table class="table">
  <tr>
    <th class="first last" colspan="2">Occurences</th>
  </tr>
  <%= render :partial => error.occurences.all %>
</table>

  </div>
</div>