<div class="block" id="block-project">
  <div class="secondary-navigation">
  </div>
  <h2 class="title">Login</h2>
  <div class="content">

<% form_for @user_session, :url => user_session_path, :html => {:class => 'form'} do |f| %>
  <%= f.error_messages %>
  <div class="column left">
    <div class="group">
      <%= f.label :login, nil,  :class => 'title' %>
      <%= f.text_field :login, :class => 'text' %>
    </div>
    <div class="group">
      <%= f.label :password, nil, :class => 'title' %>
      <%= f.password_field :password, :class => 'text' %>
    </div>
    <div class="group">
      <%= f.check_box :remember_me, :class => 'checkbox' %>
      <%= f.label :remember_me, nil, :class => 'checkbox' %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="group navform">
    <%= f.submit "Login", :class => 'button' %>
  </div>
<% end %>

  </div>
</div>