!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :lang=>"en"}
  %head
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title Failtale
    = render_shared :assets
  %body
    
    #wrapper
      #container
        #profile=    render_shared :user_menu if current_user
        #header=     render_shared :header
        #breadcrumb= render_shared :breadcrumb
        #content=    yield
        #footer=     render_shared :footer
    
    = render_shared :google if FAILTALE[:google_analytics]